@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font family */
  
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  /* end of font family */
body{
  background-color: #F1F1F3;
}

  .btn-primary{
    font-size: 18px;
    padding: 15px 30px 15px 30px;
    border-radius: 8px;
   margin: 20px 100px 100px 20px; 
   margin-left: 0%;
    
}

.header-1{
 padding-bottom: 0%;
 margin: 0%;
 width:auto;
}
header ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.btn-color{
    color: rgba(0, 106, 80, 1);
}
.btn-color-2{
  padding: 17px 24px 24px 0px;
}
.ht{
 font-size: 32px;
 padding: 25px 820px 120px 0px;

}
.banner{
    display: flex;
    justify-content: space-between;
    border-radius: 24px;
    padding: 50px 30px 30px 50px;
    border: 100px; 
    margin: 100px;
}
.bg-color{
    background-color: #C6E4D6;
}
.bg-title{
    font-size: 24px;
    opacity: 50%;
}
.header-description{
    font-size: 56px;
    width: 50%;
    font-weight: 600;
}

.banner-img{  
padding: 30px 1px 30px 40px;
background-position: right;
}
.btn-bg{
  background-color: #006A50;
}
.span-color{
  color: cornsilk;
}
.s2{
  margin-left: 100px;
 margin-right: 100px;
}
.s2-banner{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.s2-title{
  text-align: left;
 padding: 24px;
 width: 100%;
 background-color: white;
 border-radius: 16px;
 margin: 20px;
 margin-left: 0%;
 height: 300px;

}
.card-icon{
  margin: 24px;
  margin-left: 0;
}
.s2-sub-title{
  font-weight: 700;
  font-size: 20px;
}
.s2-description{
  font-weight: 400;
  font-size: 16px;
  opacity: 70%;
  padding: 24px 24px 0px 24px;
  padding-left: 0px;
  width: 65%;
}
.s2-bannerp{
  font-weight: 700;
  font-size: 40px;
  width: 100%;
  margin-left: 20px;
}
/* end of s2 */
/* start of s3 */
.s3-title{
  display: flex;
  gap: 30px;
  justify-content: space-evenly;
  margin-left: 100px;
  margin-right: 100px;
}
.btn-s3-l{
  padding: 11px 20px 11px 20px;
  border-radius: 8px;
  margin: 20px 100px 30px 0px;
  color: #F1F1F3;
  border: none;
}
.btn-s3-l1{
  background-color: #5490F5;
  margin-top: 30px;
}
.btn-s3-l2{
  background-color: #09A15C;
  margin-top: 30px;
}
.btn-s3-l3{
  background-color: #FFC239;
  margin-top: 30px;
}
.s3-sub-title{
  border-radius: 16px;
  padding: 32px;
  gap: 24px;
}
.s3-img{
  margin-bottom: 20px;
}
.s3st1{
  background-color: rgba(84, 144, 245, 0.2);
  width: 100%;

}
.s3st2{
  background-color: rgba(9, 161, 92, 0.2);
  width: 100%;
}
.s3st3{
  background-color: rgba(255, 194, 57, 0.2);
  width: 100%;
}
.s3-sub-titleb{
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px;
}
.s3-sub-titled{
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
}
.s3p2{
  font-size: 16px;
  opacity: 70%;
  margin: 30px 100px;
}
.s3p1{
  font-weight: 700;
  font-size: 40px;
  width: 100%;
  margin: 24px 100px;
}
/* end of s3 */
/* start of s4 */
.s4{
  padding: 24px;
  background-color: #ffffff;
  margin: 20px 100px 0px 100px;
  border-radius: 8px;
  background-image: url("../assets/quote-bg.png");
  background-repeat: no-repeat;
  background-position: 40px 20px;
  padding: 30px;
}
.s4-p1{
  opacity: 70%;
  font-weight: 400;
  font-size: 16px;
  margin: 0px 24px 0px 24px;
}
.s4-p2{
  font-weight: 600;
  font-size: 20px;
  margin: 10px 24px 10px 24px ;
}
/* end of s4 */
/* start of s5 */
.s5{
  font-weight: 600;
  font-size: 40px;
  margin: 40px 100px;
}
/* end of s5 */
/* start of s6 */
.s6{
  border-radius: 16px;
  background-color: #ffffff;
  padding: 32px;
  margin:0px 100px ;
}
.s6p1{
  display: flex;
  justify-content: space-between;
  background-color: rgba(9, 161, 92, 0.15);
}
.s6p11{
  font-weight: 600;
  font-size: 16px;
  padding: 24px;
}
.s6-table td{
  border: 0.5px dotted black;
   width: 100%;
   padding: 30px 24px;
   border-collapse: collapse;
}
.btn-s6{
  padding: 16.5px;
  width: max-content;
  background-color: rgba(198, 228, 214, 1);
  border-radius: 4px;
}
/* start of s7 */
.s7{
  display: flex;
  width: fit-content;
  gap: 30px;
  padding: 48px;
  margin: 32px 100px 32px 100px;
  background-color: #ffffff;
  border-radius: 24px;
}
.s7-p1-img{
  border-radius: 24px;
}
.s7-p2{
padding: 0px 48px 48px 0px;
}
.s7-p2-title{
  font-size: 32px;
  font-weight: 700;
  width: 100%;
}
.time-date{
  display: flex;
  gap: 20px;
}
.time-date p{
  padding:10px 10px 10px 0px;
  font-weight: 400;
  font-size: 16px;
  opacity: 70%;
}
.s7-p2-subtitle{
  padding: 12px 500px 0px 0px;
}
.s7-p2-description{
  font-size: 16px;
  font-weight: 500;
  padding: 12px 40px 25px 0px;
  width: 70%;
  opacity: 70%;
}
.btn-s2{
  padding: 13px 26px;
  border-radius: 8px;
  background-color: #006A50;
  border: none;
}
/* start of s8 */
.s8{
  display: flex;
  width: fit-content;
  padding: 48px;
  margin: 32px 100px 32px 100px;
  background-color: #ffffff;
  border-radius: 24px;
}
.s8-p1{

}
.s8-p1-img{
  border-radius: 24px;
  margin-left: 0%;
}
.s8-p2{
padding: 0px;
}
.s8-p2-title{
  font-size: 32px;
  font-weight: 700;
  width: 100%;
}
.time-date{
  display: flex;
  gap: 20px;
}
.time-date p{
  padding:10px 10px 10px 0px;
  font-weight: 400;
  font-size: 16px;
  opacity: 70%;
}
.s8-p2-subtitle{
  padding: 12px 100px 0px 0px;
}
.s8-p2-description{
  font-size: 16px;
  font-weight: 500;
  padding: 12px 40px 25px 0px;
  width: 80%;
  opacity: 70%;
}
.btn-s2{
  padding: 13px 26px;
  border-radius: 8px;
  background-color: #006A50;
  border: none;
}
/* start of s9 */
.s9{
  /* background-color: aqua; */
  margin: 10px 100px;
}
.s9-p1{
justify-items: center;

}
.s9-p1-p1{
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 24px;
}
.s9-p1-p2{
  font-size: 16px;
  font-weight: 400;
  width: 60%;
  text-align: center;
  opacity: 70%;
}
.s9-p2{
  display: flex;
  justify-content: center;
}
.pay{
  background-color: #ffffff;
  padding: 30px;
  border: none;
  border-radius: 16px;
  margin: 10px;
  font-size: 40px;
  font-weight: 700;
}
.pay1{
  background-color: #C6E4D6;
}
.s9-p3{
justify-items: center;
}
.input-o{
  text-align: center;
  background-color: #ffffff;
  border: none;
  font-size: 20px;
  font-weight: 400;
  opacity: 30%;
  padding: 20px 300px;
  margin: 20px 20px 20px 0px;
}
/* Start of s10 */
.s10{
  justify-items: center;
  border-radius: 24px;
  padding: 100px;
  margin:30px 100px;
  background-color: rgba(204, 204, 204, 1);
}
.s10-title{
  font-size: 40px;
  font-weight: 700;
  padding: 10px;
}
.s10-sub-title{
  text-align: center;
  width: 50%;
  font-size: 16px;
  font-weight: 400;
  opacity: 70%;
  padding: 20px 64px;
}
.s10-inp{
  padding: 18px 600px 18px 10px;
  border: none;
  opacity: 30%;
  font-size: 16px;
  font-weight: 400;
}
.s10-btn{
  padding: 15px 34px;
  background-color: rgba(0, 106, 80, 1);
  border-radius: 8px;
  border: none;
}
.s10-btnt{
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}
.s10f{
  font-size: 16px;
  font-weight: 400;
  margin: 24px 64px;
  opacity: 0.7;
}
.f1{
  padding: 50px 160px;
  background-color: #ffffff;
  justify-items: center;
}
.f1p1{
  font-size: 32px;
  font-weight: 700;
  margin: 32px;
}
.f1p2{
  padding: 32px 400px;
  display: flex;
  gap: 23px;
}
.hr{
 width: 80%;
}
.ss10{
  border-collapse: collapse;
}
.s10-btn:hover{
  background-color: #C6E4D6;
  color: #09A15C;
  border: 1px solid red;
}
.btn-s2:hover{
  background-color: #C6E4D6;
  color: #09A15C;
  border: 1px solid red;
}
.pay:hover{
  background-color: #C6E4D6;
  color: #09A15C;
  border: 1px solid red;
}
.btn-s6:hover{
  background-color: #C6E4D6;
  color: #09A15C;
  border: 1px solid red;
}
.btn-s3-l:hover{
  background-color: #C6E4D6;
  color: #09A15C;
  border: 1px solid red;
}
.btn-primary:hover{
  background-color: #C6E4D6;
  color: #09A15C;
  border: 1px solid red;
}

